name: build

on: ["push", "pull_request"]

jobs:
  test:
    name: Ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # don't fail all matrix builds if one fails
      matrix:
        ruby:
          - "2.7"
          - "3.0"
          - "3.1"
    continue-on-error: ${{ endsWith(matrix.ruby, 'head') }}
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install dependencies
        run: bundle install
      - name: Rubocop
        run: bundle exec rubocop
      - name: Run tests
        run: bundle exec rake spec
